<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" 
data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" 
data-category="#category#" data-tags="#tags#" style="position: relative; min-height:230px !important; #style#">
  
<span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <i class="fas fa-sync"></i>
  </span>
  <center class="widget-name" style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></center>
<style>
    
   .zplanning .ui-btn{
    background-color: transparent !important;
} 
span.selectCmd55 {
	float: left;
	margin-left: -12px;
}  
    
    
.btn_boilmod.naModeCmd {
    	min-width: 35px;
		display: inline-block;
    }
.btn_boilmod.naModeCmd.active > span > i{
		color: rgb(var(--cat-heating-color))!Important;
        cursor: not-allowed!Important;
  	/*text: ('llo');*/
        /*color: red;*/
        /* height: 20px;*/
}  
.naiconCmd.btcmmmm {
    display: inline-flex !important;
    background: var(--btn-default-color);
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    content: " (" attr(data-cmd_id) ")";
    justify-content: center !important;
    box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.04),0 4px 6px 0 rgba(150, 150, 150, 0.11);
    font-size: 16px;
    min-width: 25px!Important;
    border: 1px;
    border-color: var(--form-bg-color);
    border-style: solid;
  	
	}
.btcmmmm i {
      font-size: 16px;
      margin-top: 25%;
    }
    
  </style>
<section> 	
        <span class="cmd cmd-widget" data-cmd_id="#setschedule_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#roomAuto_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setoff_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setaway_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#sethg_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setmax_id#" style="display:none;"></span>
      	<span class="cmd cmd-widget" data-cmd_id="#planningset_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#refreshall_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#consigneset_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setmode_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setoffset_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#writedata_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#homeboost_id#" style="display:none;"></span>
	</section>  
  
<div class="eq_body">  
  
  <center>
    
   	<hr style="height:5px; visibility:hidden; padding:0; margin:0">
    
    <div class="boilerInfos"> 
      
  
  
  <!--  ********"#Anticipation#"******** -->
<div class="cmd cmd-widget #temperature_history# tooltips" data-type="info" data-subtype="numeric" data-cmd_id="#temperature_id#" data-cmd_uid="cmd#temperature_id##uid#" data-version="#version#" style="display: inline-grid;
width: 45%;">
  
    <div class="title ">
    	<div class="cmdName">Température</div>
  	</div>
  	<div class="content-xs">
    	<strong class="state">#temperature#</strong>°C
  	</div>
  
  <script>
    jeedom.cmd.update['#temperature_id#'] =function(_options){
      var cmd = $('.cmd[data-cmd_id=#temperature_id#]');
      
      cmd.attr('title','Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
      if (_options.display_value != '') {
        cmd.find('.state').empty().append("#temperature#");
      }else {
        cmd.find('.state').empty().append("-");
      }
    }
    jeedom.cmd.update['#temperature_id#']({display_value:'#temperature#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'})
  </script>
</div>


<!--  ********"0"******** -->
<div class="cmd cmd-widget #status_history# tooltips" data-type="info" data-subtype="numeric" data-cmd_id="#temperature_id#" data-cmd_uid="cmd#temperature_id##uid#" data-version="#version#" style="display: inline-grid;
width: 45%;">
 
    <div class="title">
    	<div class="cmdName">status</div>
  	</div>
  	<div class="content-xs">
      	
    	<span class="btn naeq_status" data-cmd_id="#status_id#" style=""><span class="icon jeedom-feu" style="font-size: 0.8em;color:rgba(240,240,245,0.1)!Important; left:3px;"></span>
          </span>
  	</div>
  
  <script>
   //VaillantControl_status naboilerstatus
  </script>
</div>

  
</div>
	<div class="nacontrol" data-cmd_id="#consigneset_id#">
			<i class="cmd-widget icon fas fa-2x fa-minus-square na_cons_down" data-type="action" style="padding-right: 10px;"> </i>
          	
          	<strong class="cmd state #consigne_history# #history#" data-type="info" data-cmd_id="#consigne_id#" title="#consigne_collectDate#" style="min-width: 65px;font-size:2.5em!important">  </strong>
         
      		
          	<i class="cmd-widget icon fas fa-2x fa-plus-square na_cons_up" data-type="action" style="padding-left: 10px"> </i>
          
		</div>
     	 
    <div class="na_Infos_#uid# Pan_one" style="">
     	 <div class="btn-group gr2" style="padding-top: 10px; height: 40px;">
    <!--  ********"#setschedule_id#"******** -->
    <span class="btn_boilmod btnschedule naModeCmd cmd cmd-widget cursor tooltips" data-type="action" data-modetech="schedule" 
          data-template="tmplicon" data-cmd_id="#setmode_id#" data-cmd_uid="cmd#setmode_id#_#uid#_" data-version="mobile" 
          title="Mode Planning (Home)">
          <span class="naiconCmd btcmmmm" ><i class="fas fa-cog"></i></span>
    </span> 

<!--  ******"#setaway_id#"********** -->
<span class="btn_boilmod btnaway naModeCmd cmd cmd-widget tooltips cursor" data-type="action" data-modetech="away" 
      data-template="tmplicon" data-cmd_id="#setmode_id#" data-cmd_uid="cmd#setmode_id#_#uid#_" data-version="mobile" 
      title="Mode Absent (Home)">
		<span class="naiconCmd btcmmmm" ><i class="icon loisir-runner5"></i></span>
</span>   
    
<!--  ********"#sethg_id#"******** -->
<span class="btn_boilmod btnhg naModeCmd cmd cmd-widget tooltips cursor" data-type="action" data-modetech="hg" 
      data-template="tmplicon" data-cmd_id="#setmode_id#" data-cmd_uid="cmd#setmode_id#_#uid#_" data-version="mobile" 
      title="Mode H.Gel (Home)">
		<span class="naiconCmd btcmmmm" ><i class="icon jeedomapp-weather"></i></span>
</span> 
     
     
<!--  ********"#sethg_id#"******** -->
<span class="btn_boilmod btnoff naModeCmd cmd cmd-widget tooltips cursor" data-type="action" data-modetech="off" 
      data-template="tmplicon" data-cmd_id="#setmode_id#" data-cmd_uid="cmd#setmode_id#_#uid#_" data-version="mobile" 
      title="Eteindre le Thermostat (Home)">
		<span class="naiconCmd btcmmmm"><i class="fas fa-power-off"></i></span>
</span>      
	
  
  
  
  
	<script>
		$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod').on('click',	function() {
			var cmdId = $(this).attr('data-cmd_id');
			var modetoset = $(this).attr('data-modetech');
			console.log("cmdId: " + cmdId + ' : ' + modetoset);
			//jeedom.cmd.execute({id: $(this).attr('data-cmd_id')});
			if(modetoset != '#home_modetech#'){
				jeedom.cmd.execute({id: '#setmode_id#', value: {'title': modetoset, 'message': ''}});
			}
		});	
		
      	var catcolor = $('.eqLogic[data-eqLogic_uid=#uid#]').attr('data-cat_color',);	
			if ('#room_modetech#'=='hg') {
				$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnhg').addClass('active ');
				$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnhg').removeClass('cursor');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnschedule').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnaway').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').removeClass('active');
				$('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').css('color', 'white');
            	$('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').append('hg');
            	$('.eqLogic[data-eqLogic_uid=#uid#] .sphiver').css('font-weight', 'bold');
            }
            else if ('#room_modetech#'=='away') {
                $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnaway').addClass('active');
                $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnaway').removeClass('cursor');
              
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnschedule').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnhgbtnhg').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').removeClass('active');
            }
			else if ('#room_modetech#'=='off') {
                $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').addClass('active');
                $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').removeClass('cursor');
              
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnschedule').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnhgbtnhg').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnaway').removeClass('active');
			} 
			else if ('#room_modetech#'=='schedule') {
                $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnschedule').addClass('active');
                $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnschedule').removeClass('cursor');
              
                $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnhgbtnhg').removeClass('active');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnaway').removeClass('active');
			}
	</script>
   
 
    
     
  	<script type="text/javascript">
    if('#type#' == 'NRV'){
    	//$('.eqLogic[data-eqLogic_uid=#uid#] .room.NATherm1').hide();
  		//$('.eqLogic[data-eqLogic_uid=#uid#] .room.NRV').show();
    	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').hide();
  }else if('#type#' == 'NATherm1'){
    	//$('.eqLogic[data-eqLogic_uid=#uid#] .room.NRV').hide();
  		//$('.eqLogic[data-eqLogic_uid=#uid#] .room.NATherm1').show();
    	$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').show();
  }
    
    
    
    
    
    cons = parseFloat('#consigne#').toFixed(1);
    // cons = 22.9;
    $(".state[data-cmd_id='#consigne_id#']").html(cons)
    
    
    temp = parseFloat('#temperature#').toFixed(1);
    // temp = 22.9;
    $(".cmdstate[data-cmd_id='#temperature_id#']").html(temp)
    //change theme event handler for images:
    
    
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });
	 
    
    
   
    
    nastepCons= 0.5;
    
    $('.eqLogic[data-eqLogic_uid=#uid#] .na_cons_up').on('click', function () {
      
		temp = $(".state[data-cmd_id='#consigne_id#']").html()
		newCons = parseFloat(parseFloat(temp) + nastepCons).toFixed(1);
      	$(".state[data-cmd_id='#consigne_id#']").html(newCons);
		jeedom.cmd.execute({id: '#consigneset_id#', value: {'title': newCons}});
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .na_cons_down').on('click', function () {
		temp = $(".state[data-cmd_id='#consigne_id#']").html()
		newCons = parseFloat(parseFloat(temp) - nastepCons).toFixed(1);
		$(".state[data-cmd_id='#consigne_id#']").html(newTemp);
		jeedom.cmd.execute({id: '#consigneset_id#', value: {'title': newCons}});
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .VaillantControl_consigne_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'});
    });
    
    
    		
			if ('#room_modetech#' == 'away') {//away;hg;max;schedule;off;manuel, datetimepicker, awaypicker
				$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'away');
				$('.eqLogic[data-eqLogic_uid=#uid#] .away').css('color', 'white');
              	var htmlaway ='<i class="fas fa-times-circle cancelaway cursor tooltips" style="margin-left: 0px;color:#b93a3e!important"></i>';
              		htmlaway += '   <strong class="state" title="Profile en cours">Absent</strong>'
              		htmlaway += '  <i class="fas fa-arrow-right" style="" title=""></i> ';
              		htmlaway += '<span class=" natimepicker cursor tooltips" data-mode="away" title="Choisir Fin..." style="margin-left: 0px"> #setpointmode_endtime#</span>';
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(htmlaway);
			} 
         	else if ('#room_modetech#' == 'hg') {
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'hg');
				profile ='';
                profile += '<span class="fas fa-times-circle cancelhg cursor tooltips" title="Désactiver le mode HG" style="margin-left: 0px;color:#b93a3e!important"></span>';
				profile += '   <strong class="state" title="Profile en cours">Hors-gel</strong> <i class="fas fa-arrow-right"></i> ';
				profile += '<span class="natimepicker cursor tooltips" data-mode="hg" title="Choisir Fin" style="margin-left: 0px"> #setpointmode_endtime#</span>';
                $('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile);
						
			} 
         	else if ('#room_modetech#' == 'schedule') {
                $('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'schedule');
				profile ='';
                profile +='<strong class="state" title="Profile en cours">#nowprofil#</strong>';
              	profile +=' jusqu\'a #setpointmode_endtime# ';
              	//profile +='#nextprofil#°';
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile);
				planning = '';
              	planning += $('.eqLogic[data-eqLogic_uid=#uid#] .planningset_#id#').html();
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zplanning').empty().html(planning);
                //$('.eqLogic[data-eqLogic_uid=#uid#] .planning').css('display', 'block');
			} 
         	else if ('#room_modetech#' == 'off') {
              	$('.eqLogic[data-eqLogic_uid=#uid#] .na_cons_up').removeClass('cmd-widget')
              	$('.eqLogic[data-eqLogic_uid=#uid#] .na_cons_down').removeClass('cmd-widget')
              	//$('.eqLogic[data-eqLogic_uid=#uid#] .na_cons_down').attr('title','Off !')
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room').attr('data-thmode', 'off')
				$('.eqLogic[data-eqLogic_uid=#uid#] .off').css('color', 'white')
              	profile = '<span class="fas fa-power-off canceloff cursor tooltips" title="Allumer le Thermostat" style=";color:#b93a3e!important"> </span>';
				profile += ' <strong class="state" title="Profile en cours">Le Thermostat est éteint</strong>';
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile)
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naModeinfos').addClass("hide")
              	$('.eqLogic[data-eqLogic_uid=#uid#] .nacontrol').addClass("disabled");
				
              
            } 
         	else if ('#room_modetech#' == 'manual'){//if ('#modetech#' == 'manual')
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'manual');
              	profile ='';
                profile +='<span class="fa techno-fingerprint41 cancelmanual cursor tooltips" title="Désactiver le mode Manuel" style="font-size: 1em;margin-left: 0px;color:#b93a3e!important"></span> ';
				profile +='  <strong class="state" >Manuel </strong><i class="fas fa-arrow-right"></i> ';
				profile +='<span class="natimepicker cursor tooltips" data-mode="manual" title="Choisir Fin" style="margin-left: 0px"> #spRoom_endtime#</span>';
                $('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile);
				if ('#room_modetech#' != '#home_modetech#'){
                  	planning = '';
                    planning += ' <strong class="state" style="margin-left: 15px">Mode Home: </strong> ';
					planning +='<span class="tooltips" data-mode="home_modetech" style="margin-left: 2px"> #home_modetech#</span>';
                  	$('.eqLogic[data-eqLogic_uid=#uid#] .zplanning').empty().html(planning);
                }
			}
			
  			$('.eqLogic[data-eqLogic_uid=#uid#] .cancelmanual').on('click', function(){
				jeedom.cmd.execute({id: '#roomAuto_id#'});
			});
			
  			$('.eqLogic[data-eqLogic_uid=#uid#] .off').on('click', function () {
                jeedom.cmd.execute({id: '#setoff_id#'});
            });
  			$('.eqLogic[data-eqLogic_uid=#uid#] .canceloff').on('click', function(){
				//jeedom.cmd.execute({id: '#setschedule_id#'});
              	jeedom.cmd.execute({id: '#roomAuto_id#'});
            });	
            
  			$('.eqLogic[data-eqLogic_uid=#uid#] .hg').on('click', function () {
                 jeedom.cmd.execute({id: '#sethg_id#'});
            });
            $('.eqLogic[data-eqLogic_uid=#uid#] .cancelhg').on('click', function(){
                jeedom.cmd.execute({id: '#setschedule_id#'});
            });
        	
						
			$('.eqLogic[data-eqLogic_uid=#uid#] .away').on('click', function () {
                jeedom.cmd.execute({id: '#setaway_id#'});
            });
            $('.eqLogic[data-eqLogic_uid=#uid#] .cancelaway').on('click', function(){
				jeedom.cmd.execute({id: '#setschedule_id#'});
            });
  			 $('.eqLogic[data-eqLogic_uid=#uid#] .setschedule').on('click', function () {
            	jeedom.cmd.execute({id: '#setschedule_id#'});
            });       
			
                   
			$('.eqLogic[data-eqLogic_uid=#uid#] .roomAuto').on('click', function () {
            	jeedom.cmd.execute({id: '#roomAuto_id#'});
            });
           
					
			console.log("room_anticipating0 : " + '#room_anticipating#')
              	
            if ('#room_anticipating#' == 1) {
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room').attr('data-boilerstate', 'anticip');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naeq_status').empty().append("<img src='/plugins/VaillantControl/core/template/dashboard/src/icons/boiler.png' width='15px'>");
              //
            } else if ('#powerRequest#' > 0 || '#requestOn#' == 1 || '#actif#' == 1) {
  				console.log("powerRequest : " + '#powerRequest#')
  				console.log("requestOn : " + '#requestOn#')
      			console.log("actif : " + '#actif#')
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-boilerstate', 'on');
              	//$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus').empty().append("<span class="icon jeedom-feu"></span>");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naeq_status').empty().append("<span class='icon jeedom-feu'></span>");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naeq_status .icon').attr("style","color:var(--al-danger-color)!Important;");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .jeedom-feu').attr("style","color:var(--al-danger-color)!Important;");
              	
            }
  
  
  			if ('#boiler_anticipating#' == 1) {
                $('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus .icon').attr("style","color:#c37d28!Important;");
				$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus').attr("title","Anticipation en cours");
            }else if ('#boiler_status#' == 1) {
              console.log('therm_boilerstatus: ' + '#boiler_status#')
              	//$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-boilerstate', 'on');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus').attr("title","En chauffe");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus .icon').attr("style","color:var(--al-danger-color)!Important;");
            }else{
            	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-boilerstate', '');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus').attr("title","Chaudière arrêtée");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus .icon').attr('style', 'font-size: 0.8em; color:rgba(250,250,250,0.3)!Important;');
              	//$('.eqLogic[data-eqLogic_uid=#uid#] .naeq_status .icon').attr("style","color:rgba(240,240,240,0.5)!Important;");
            }
    
    
   
 
    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
	};
      
      
      
    if(isMobile.any()) {//mobile
      	$('.eqLogic[data-eqLogic_uid=#uid#] .usera').addClass('mobtimepick');
		$('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").value('#setpointmode_endtime#');
      
      	htmlmobile='<input class"pickin" id="pickin" type="datetime-local" style="position: absolute; width:100%;">';
      	//$('.eqLogic[data-eqLogic_uid=#uid#] .mobtimepick').empty().html(htmlmobile);
      	
      	text =   $('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").value();
      	$('.eqLogic[data-eqLogic_uid=#uid#] .usera').empty().html(htmlmobile);
      	$('.eqLogic[data-eqLogic_uid=#uid#] .pickin').on('change', function () {
      		jeedom.cmd.execute({id: '#endtime_change#', value: {'message': this.value}});
        });
      
      
    } 
    else {//Not Mobile
      	console.log("not isMobile " + navigator.userAgent)
      	htmlmobile='<input class"pickin" id="pickin" type="datetime-local" style="position: absolute; width:100%;">';
      	text =   $('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").value();
      	$('.eqLogic[data-eqLogic_uid=#uid#] .usera').empty().html(htmlmobile);
      	$('.eqLogic[data-eqLogic_uid=#uid#] .usera').addClass('mobtimepick');
      	$('.eqLogic[data-eqLogic_uid=#uid#] .natimepicker ').addClass('dateTimepick');
    }
    
      

      
      
    $('.eqLogic[data-eqLogic_uid=#uid#] .mobtimepick').on('click', function(){
      
		text =   $('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").value();
      	console.log("mobtimepick clicked" + text)
      	$('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").focus();
        //$('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").click();
      
      
       //$(this).closest("div").find(".inputField").trigger("click");
     	//$('.eqLogic[data-eqLogic_uid=#uid#]').closest(".pickin").find(".inputField").trigger("click");
      
     	//$('.eqLogic[data-eqLogic_uid=#uid#] .pickin').value('22/01/2202');
      	//.datetimepicker();
      	//$('#datetimepicker5').datepicker();
        //$('#ui-datepicker-div').hide();
	});  
     
   $('.eqLogic[data-eqLogic_uid=#uid#] .dateTimepick').on('click', function (e) {
      //text =   $('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").value();
      $('.eqLogic[data-eqLogic_uid=#uid#] .pickin').find(".inputField").click();
      console.log("dateTimepick clicked " + text)
      $('.eqLogic[data-eqLogic_uid=#uid#]').closest(".pickin").find(".inputField").trigger("ui-focus");
      
     	//$('.eqLogic[data-eqLogic_uid=#uid#] .pickin').value('22/01/2202');
      	//.datetimepicker();
      	//$('#datetimepicker5').datepicker();
        //$('#ui-datepicker-div').hide();
      
      
    });
      
      
  </script>
	
	
 </div> 
  	
    	<hr style="height:5px; visibility:hidden; padding:0; margin:0">
  
    	<!-- *********************  -->   
		<div class="cmd cmd-widget zprofil" style=""></div>
     
		<!-- *********************  -->
    	<div class="cmd cmd-widget zplanning tooltips" style=""></div>
    	<!-- *********************  -->
   	 	<div class="planningset_#id#" style="display:none;">
        
         <div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-cmd_id="#set_program_id#" data-version="#version#" data-eqLogic_id="#id#" title="#order_collectDate#" style="width:100%!important; max-height: 40px!important; margin-top: -15px;">
        <div class="content-xs" style="display: flex; justify-content: center !important;padding-left: calc(50% - 68px) !important">
          <span class="" style="padding-top:19px;/*padding-left:5px;*/width: 50px;">Planning: </span>
          <select class="selectCmd" style="width:calc(100% - 55px) !important;">#planningset_listValue#</select>
        </div>
      </div>
        
      </div> 
  
    
 </div> <!-- Fin Pan_one -->    
      
	<div class="na_Infos_#uid# Pan_two" style="display : none;">
		<div class="cmd cmd-widget usera" style=""></div>
      
     	
		
   	 
</div><!-- Fin Pan_two -->
      
      
   
  </center>
</div><!-- Fin eq_body -->
  
  <div class="table_bottom">
	<table style="position:absolute; right:0px; bottom:0px; width: 100%; height:; background-color: transparent!important;" >	
	<tr style="height: 22px;">
			<td class="td_bot1" style="width: 18px; text-align: left;">
				<span class="infcmd pull-left cursor infcmd_#uid#" title='Autres infos' style="margin-left:3px">
					<i class="icon fas fa-info-circle infcmd_ico_#uid#"></i>
  				</span>
              
       
              
              
             
	

    	 
  
        

				
                  
   

                  
                  
               	
			</td>
			<td class="td_bot2" style="text-align: center;">
      			 
             
              	<span class="#alert_level#" title="#alert_name#" >
                   	<span class="dropup na_error" style="display:none">
                        <a class="icon fas fa-exclamation dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu naInfos" x-placement="top-start" >
                            
                          
                          <div class="cmd scrolldiv err_msg" ></div>
                        
                      </div>
                    </span>

                   
                   
					
				</span>
              
             
      		</td>
			<td class="td_bot3" style="width: 18px;text-align: right;">
				<i class="fas fa-retweet cursor tooltips changecmd noRefresh" title='Changer commandes' style="margin-right: 3px;"></i>
			</td>
	</tr>
	
		<script>
		try {
          	html=''
          	levelinf#id#=''
			ErreursMsg=#Erreurs_Msg#;
            nbMsg=ErreursMsg.filter(non_null => non_null !== '').length;

            $.each( ErreursMsg, function( key, module ) {
				if (module != ''){
                 	level = module.split("| ")[0];
                 	msg = module.split("| ")[1];
                 	
                  html +='<div class="content-xs" style="margin-left: 5px;">'
                  html +='<span class="'+level.toLowerCase()+' cmdName">'+level+' :</span>'
                  html +='<strong class="state"> '+msg+'</strong></div>'
                  if(key != nbMsg && undefined != nbMsg){
                    console.log( "key: " + key + " nbMsg: " + nbMsg );
                    	html +='<li role="separator" class="divider"></li>'
                    
                  }
                  $('.eqLogic[data-eqLogic_uid=#uid#] .naInfos .err_msg').empty().html(html);
                  //console.log( level + ": " + msg );
                  if(level.toLowerCase()== "danger" || levelinf#id#=="danger"){
                    	levelinf#id#="danger";
                  }else{
                    	levelinf#id#="warning";
                  }
                  console.log( "levelinf#id#: " + levelinf#id# );
                  var col = 'var(--al-'+levelinf#id#+'-color) !important';
                  
                 
                 // $('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico').attr('class', levelinf ); 
                   //$('.eqLogic[dat a-eqLogic_uid=#uid#] .infcmd').attr('class', levelinf );
                  if (col != '') {  
                      //console.log( "col: " + col );
                    //$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico_#uid#').attr('style', 'color :'+ 'var(--al-'+levelinf#id#+'-color) !important');
                  }else if ('#numberTryWithoutSuccess#' >= 3) {
                      $('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico_#uid#').attr('style', 'color : #C37D28!important');
                  } else if('#numberTryWithoutSuccess#' >= 60 || '#eqstate#' != 'ok' ) {
                      $('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico_#uid#').attr('style', 'color : #b93a3e!important');
                  }else{//if ('#numberTryWithoutSuccess#' == 0) ) 
                    $('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico_#uid#').removeAttr( 'style' );
                  }
                  //console.log("nbMsg3: " + nbMsg )
			
            }}
                 // console.log("nbMsg4: " + nbMsg )
			
                  );
          
          
          	
			
          	if(nbMsg > 0){
              	console.log("nbMsg5 show: " + nbMsg )
          		$('.eqLogic[data-eqLogic_uid=#uid#] .dropup.na_error').show();
              	$('.eqLogic[data-eqLogic_uid=#uid#] .dropup.na_error .icon ').attr('style', 'color :'+ 'var(--al-'+levelinf#id#+'-color) !important');
            }
          
		} catch (e) {
			console.log( "error: " + e );
      	} 
          
          
         
          
          
          
          
      
		         
        $('.eqLogic[data-eqLogic_uid=#uid#] .changecmd').on('click',function () {
			$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_two').toggle();
			$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_one').toggle();
		});
					
	</script>
	</table>		
	
</div>
  
  
  
  
  
</div>